.courses .col-sm-4 {
  width: 270px;
  text-align: center;
  margin: 0 auto;
}

#courseAnchor{
  padding-top: 50px;
  padding-bottom: 30px;
}

.courses h4 {
  padding: 20px
}

.coursePics{
  width: 250px;
  padding: 20px;
}
