.footer {
  background-color: #495867;
  color: white;
  padding: 10px;
  margin-top: 100px
}

.iconWhite {
  text-decoration: none;
  color: white;
  margin-right: 5px;
  margin-left: 5px;
}

.iconWhite:hover {
  color: black;
}

.footer .col-sm-1{
  max-width: 30px
}

#test{
  margin: 0 auto;
  text-align: center;
}
