#navbar {
  justify-content: flex-end;
  display: flex;
  padding: $m-size;
  background-color: #222;
  color: white;
}

.headerLink{
  color:white;
  padding: 10px;
  font-size: $m-size
}

.headerLink:hover{
  text-decoration: none;
  color: green
}
