#navbar {
  justify-content: flex-end;
  display: flex;
  padding: $m-size;
  border-bottom: 1px solid grey;
}

.headerLink{
  color:grey;
  padding: 10px;
  font-size: $m-size
}

.headerLink:hover{
  text-decoration: none;
  color: black
}

.is-active {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none
}

p{
  padding: $m-size;
  justify-content: flex-start;
  display: flex;
}

.align-left{
  align-self: center;
  flex-grow: 5
}
