.thumbnail:hover{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.thumbnail img{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px
}

.thumbnail {
  width: 270px;
}

.makeBold{
  font-weight: bold;
  text-align: center
}

.description{
  padding: 0px 15px 0px 15px;
  text-align: justify;
}

.container{
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

@media only screen and (max-width:720px){
  .description{
    text-align: center;
  }
}
